@use './unique/mixin' as*;
@use './unique/root' as*;
header{
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    .navbar{
        @include flexbox(space-between,center,row);
        padding: 1rem 0;
        .menu_list{
            @include flexbox(space-between,center,row,1rem);
            li{
                border-right: 1px solid $light_grey_stroke;
                padding-right: 1rem;
    
                &:last-child{
                    border: none;
                }
                a{
                    color: $text_secondary;
                    font-size: 14px;
                    transition: color 0.3s ease;
    
                    &:hover{
                        color: $brand_color;
                    }
                }
            }
        }
        .social_list{
            @include flexbox(space-between,center,row,1rem);
            .instagram,.facebook{
               @include icons($text_secondary,$brand_color);
            }
            .input{
                position: relative;
                input{
                    border: 1px solid $light_grey_stroke;
                    padding: 0.5rem 0.7rem;
                    border-radius: 1rem;
                    font-size: 14px;
                    color: $text_secondary;
                    outline: none;
                    transition: border-color 0.3s ease;
                    &:focus{
                        border-color: $brand_color;
                    }
                }
                i{
                    position: absolute;
                    right: 1rem;
                    top: 20%;
                    background-color: white;
                    @include icons($text_secondary,"",18px);
                }
            }
            .heart, .cart{
                @include icons($brand_color,);
            }
        }
    }
}
